<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tambah Kontak</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<div class="sidebar">
    <div class="logo">
        <img th:src="@{/images/logo.png}">
        <h2>Komplid Academy</h2>
    </div>

    <ul>
        <li><a href="/admin">Dashboard</a></li>
        <li><a href="/tentang">Tentang Kami</a></li>
        <li><a href="/lulusan">Lulusan</a></li>
        <li><a href="/program">Program</a></li>
        <li><a href="/galeri">Galeri</a></li>
        <li><a href="/kontak" class="active">Kontak</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

<div class="main">
    <div class="form-container">
        <h2>Tambah Data Kontak</h2>
        <br>
        <form th:action="@{/kontak/save}" method="post" th:object="${kontak}">
            <div class="form-group">
                <label>Founder</label>
                <input type="text" th:field="*{founder}" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Telepon</label>
                <input type="text" th:field="*{telepon}" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Instagram</label>
                <input type="text" th:field="*{instagram}" class="form-control">
            </div>
            <div class="form-group">
                <label>Tiktok</label>
                <input type="text" th:field="*{tiktok}" class="form-control">
            </div>
            <button type="submit" class="btn">Simpan</button>
            <a href="/kontak"><button type="button" class="btn back">Back</button></a>
        </form>
    </div>
</div>

</body>

</html>
