<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Edit Galeri</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div class="sidebar">

    <div class="logo">

        <img th:src="@{/images/logo.png}">

        <h2>Komplid Academy</h2>

    </div>

</div>

<div class="main">

    <div class="form-container">

        <h2>Edit Data Galeri</h2>

        <br>

        <form th:action="@{/galeri/save}"
            method="post"
            enctype="multipart/form-data"
            th:object="${galeri}">

            <input type="hidden"
                   th:field="*{id}">

            <div class="form-group">

                <label>Judul</label>

                <input type="text"
                       th:field="*{judul}"
                       class="form-control">

            </div>

            <div class="form-group">

                <label>Deskripsi</label>

                <textarea th:field="*{deskripsi}"
                          class="form-control"></textarea>

            </div>

            <div class="form-group">

                <label>Upload Gambar</label>

                <input type="file"
                    name="file"
                    class="form-control">

            </div>

            <button class="btn">
                Update
            </button>

            <a href="/galeri">
            <button type="button" class="btn back">
                Back
            </button>
            </a>

        </form>

    </div>

</div>

</body>
</html>