<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Edit Lulusan</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div class="sidebar">

    <div class="logo">

        <img th:src="@{/images/logo.png}">

        <h2>Komplid Academy</h2>

    </div>

    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/tentang">Tentang Kami</a></li>
        <li><a href="/lulusan" class="active">Lulusan</a></li>
        <li><a href="/program">Program</a></li>
        <li><a href="/galeri">Galeri</a></li>
        <li><a href="/kontak">Kontak</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

</div>

<div class="main">

    <div class="form-container">

        <h2>Edit Data Lulusan</h2>

        <br>

        <form action="/lulusan/update"
              method="post"
              th:object="${lulusan}">

            <input type="hidden"
                   th:field="*{id}">

            <div class="form-group">

                <label>Nama</label>

                <input type="text"
                       th:field="*{nama}"
                       class="form-control">

            </div>

            <div class="form-group">

                <label>Pekerjaan</label>

                <input type="text"
                       th:field="*{pekerjaan}"
                       class="form-control">

            </div>

            <div class="form-group">

                <label>Foto</label>

                <input type="text"
                       th:field="*{foto}"
                       class="form-control">

            </div>

            <div class="form-group">

                <label>Tahun Lulus</label>

                <input type="number"
                       th:field="*{tahunLulus}"
                       class="form-control">

            </div>

            <button class="btn">
                Update
            </button>

            <a href="/lulusan" class="btn btn-secondary">Batal</a>

        </form>

    </div>

</div>

</body>
</html>